{% extends "base.html" %}
{% block title %}
	Форма обратной связи
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<h2>Форма обратной связи</h2>
<form action="" method="post" name="form">
    <input name="name" type="text" placeholder="Ваше имя" /> <br>
    <input name="email" type="text" placeholder="Ваша почта" /> <br>
    <input size="30" name="header" type="text" placeholder="Тема" /> <br>
    <textarea cols="32" name="message" rows="5"></textarea> <br>
    <input type="submit" value="Отправить" />
</form>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}