{% extends "base.html" %}
{% block title %}
	Портал Обучения
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
Добро пожаловать на наш портал обучения.<br>
Сегодня : {{date}}<br>
<div>
	<a href="/category-new/">Создать новую категорию</a>
</div>
<div>
	<h1>Список существующих категорий</h1>
	<ol type="1">
	{% for item in objects_list %}
	<li>
		{{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
		<a href="/course-list/?id={{item.id}}">Показать курсы</a>
	</li>
	{% endfor %}
	</ol>
</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}